*{
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

body{
	height: 100vh;
	display: flex;
	background: #060AB2;
}

.border{
	position: static;
	width: 640px;
	height: 40px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.movesText{
	position: fixed;
	margin: 0 500px;
}

.moves{
	position: fixed;
	margin: 0 605px;
}

.scoreText{
	position: fixed;
	margin: 0 0px;
}

.score{
	position: fixed;
	margin: 0 105px;
}

.memory-game{
	width: 640px;
	height: 640px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	perspective: 1000px;
}

.memory-card{
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	position: relative;
	margin: 5px;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}

.memory-card: active{
	transform: scale(.97);
	transition: transform (.2s);
}

.memory-card.flip{
	transform: rotateY(180deg);
}

.front-face,
.back-face{
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	border-radius: 5px;
	background: #1c7ccc;
	backface-visibility: hidden;
}

.front-face{
	transform: rotateY(180deg);
}

img{
	width: 100px;
}